$primary: var(--primary);
$secondary: var(--secondary);
$dark: var(--dark);
$muted: var(--muted);
$border-color: var(--muted);
$primaryLight: var(--primary-80);
$secondaryLight: var(--secondary-80);
$black: #000000;
$default: var(--dark);
$light: var(--light);
$white: #FFFFFF;
$disabled: var(--dark-50);
$success: var(--secondary);
$danger: var(--alert);
